
<div class="container">  
  <!--funcao para esconder manualmente --> 
  <!--<table *ngIf="!esconder" class="table table-striped table-hover">-->
  <!--<table  [hidden]="esconder" class="table table-striped table-hover">-->
  <!--Nota: Embora visualmente possam ter o mesmo efeito, as diretiva hidden e ngIf tem umadiferença fundamental: -   A   diretiva   hidden   somente   decide   sobre   ocultar   ou   exibir   um   determinado   elemento.Independente do valor lógico associado a ela, o elemento e seus descendentes permanecem naárvore DOM.- A diretiva ngIf, por sua vez, quando associada a uma expressão boolean que resulta em true,remove o elemento e todos os seus descendentes da árvore DOM, o que pode significareconomia de memória-->
<!-- tabela existente
  <table *ngIf="!esconder" class="table table-striped table-hover">          
    <thead>        
      <tr>          
        <td>Nome</td>          
        <td>Idade</td>        
      </tr>      
    </thead>      
    <tbody>        
      <tr *ngFor="let pessoa of pessoas">          
        <td>{{pessoa.nome}}</td>          
        <td>{{pessoa.idade}}</td>        
      </tr>
    </tbody>    
  </table> 
--> 


<div class="row">
  <app-pessoa-cadastro (pessoaAdicionada)="onAdicionarPessoa($event)" ></app-pessoa-cadastro>
  <div class="col-4"  *ngFor="let pessoa of pessoas">      
    <app-pessoa-cartao  [pessoa]="pessoa"></app-pessoa-cartao>    
  </div>  
</div>


<!-- mostar ou esconder a tabela existente 
<div class="row">    
  <button class="btn btn-primary btn-block mt-3" (click)=alterarExibicao()>
    {{textoBotao}}
  </button>  
</div>
-->




</div>